
#app-header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    height: 175px;
}

#logo{
    width: 70%;
    padding-top: 80px;
    margin: auto;
}

#app-main{
    width: 70%;
    margin: auto;
}

h1{
    font-size: 50px;
}

h3{
    color: #858585;
}

#thebooleaner{
    color: #20a9e5;
}

h4{
    color: #858585;
}

#photo-desc{
    font-style: italic;
    font-size: 12px;
}

.yellow{
    background-color: #ffff00;
}

#table td{
    width: 5%;
}
  
  
#table th {
    text-align: left;
    background-color: #20a9e5;
    color: white;
  }

.bluetable{
    background-color: #b1e5f2;
}

#app-footer{
    width: 70%;
    margin: auto;
}

#monitor{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
    width: 300px;
    height: 200px;
}

#grafico{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
    width: 300px;
    height: 200px;
}